.footer {

  position: relative;
  height: 85px;
  width: 100vw;

  .container {
    padding: 20px !important;
    color: #3472af;
    height: 60px;
  }

  .container {
    background: rgba(248, 248, 248, 0.4);
    margin: 20px auto 0 auto;
    max-width: 978px;
    width: 95%;
  }

  @media only screen and (max-width: 876px) {
    .container {
      padding: 20px 2.5%;
    }
  }

  @media only screen and (min-width: 875px) {
    .container {
      padding: 20px 0;
    }
  }
}