.recent-posts {
  box-shadow: 20px 20px 33px 0px rgba(0, 0, 0, 0.21);
  background: #ffffff;
  margin-bottom: 20px;
}

.recent-posts > .title {
  border-bottom: 1px solid #dedede;
  padding: 8px 0 8px 8px;
  background: #f9f9f9;
  font-weight: 800;
  font-size: 20px;
  cursor: default;
  color: #6d6d6d;
}

.recent-posts > .title > span {
  position: relative;
  margin-right: 6px;
  font-size: 24px;
  top: 2px;
}

.recent-post-item {
  cursor: pointer;
}

.recent-post-item a {
  text-decoration: none;
}

.recent-post-item .content {
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 1.5s;
  transition-delay: 0.0s;

  padding: 10px;
}

.recent-post-item .content:hover {
  background: #d0eeff;
}

.recent-post-item .content img {
  margin-right: 10px;
  height: 42px;
  width: 72px;
  float: left;
}

.recent-post-item hr {
  margin: 0 20px 0 20px;
}
